/* General styles */
html, body { margin: 0px; padding: 0px; overflow-x: hidden; width:100%; height:100%; }
a:link, a:visited { color: blue; }
ol, ul { list-style:none; }
/* Header styles */
.header {
	width:100%;
	background:#eee;
	border-bottom: 1px solid #000;
	padding: 10px;
	text-align: top;
	box-shadow: 3px 3px 3px #ccc;
	height: 32px;
}
.header-input {
	background:#fff;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 2px;
}
.header-button {
	background:#ddd;
	padding: 5px 15px 5px 15px;
	border: 1px solid #ccc;
	border-radius: 2px;
}
.header-button:hover {
	background: lightblue;
	border: 1px solid skyblue;
}
.header-floater {
	float:left;
	margin-left:20px;
}
#info {
	height:29px;
	line-height:29px;
}
#info > b:first-child {
	text-shadow: 2px 2px #aaa;
}
.selectr-container {
	display: inline-block;
	width:400px !important;
}
.has-selected .selectr-placeholder, .selectr-empty, .selectr-option.excluded {
	display: inline-block !important;
}
.has-selected .selectr-label {
	display: none !important;
}
.legend {
	border:1px solid black;
	border-radius:4px;
	display:inline-block;
	opacity:1;
	padding:4px 8px 4px 8px;
	border-radius:none !important;
}
/* Tree styles */
.tree { margin: 1em; }
.tree input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.tree input ~ ul { display: none; }
.tree input:checked ~ ul { display: block; }
/* Tree rows */
.tree li {
  line-height: 1.2;
  position: relative;
  padding: 0 1em 1em 0;
}
.tree ul li { padding: 1em 1em 0 0; }
.tree > li:last-child { padding-bottom: 0; }

/* Tree labels */
.tree_label {
  position: relative;
  display: inline-block;
  background: #fff;
}
label.tree_label { cursor: pointer; }
label.tree_label:hover { color: #666; }
/* Tree expanded icon */
label.tree_label:before {
  background: #000;
  color: #fff;
  position: relative;
  z-index: 1;
  float: right;
  margin: 0 -2em 0 1em;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  content: '+';
  text-align: center;
  line-height: .9em;
}
:checked ~ label.tree_label:before { content: '–'; }
/* Tree branches */
.tree li:before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -.5em;
  display: block;
  width: 0;
  border-right: 1px solid #777;
  content: "";
}
.tree_label:after {
  position: absolute;
  top: 0;
  right: -1.5em;
  display: block;
  height: 0.5em;
  width: 1em;
  border-bottom: 1px solid #777;
  border-right: 1px solid #777;
  border-radius: 0 0 0 .3em;
  content: '';
}
label.tree_label:after { border-bottom: 0; }
:checked ~ label.tree_label:after {
  border-radius: 0 .3em 0 0;
  border-top: 1px solid #777;
  border-left: 1px solid #777;
  border-bottom: 0;
  border-right: 0;
  bottom: 0;
  top: 0.5em;
  height: auto;
}
.tree li:last-child:before {
  height: 1em;
  bottom: auto;
}
.tree > li:last-child:before { display: none; }
li > label {
  position: relative;
  display: inline-block;
  background: #fff;
}
li > label > span:first-child, .kdam {
  display: inline-block;
  background: #eee;
  padding: 1em;
  border-radius: 0.3em;
}
.tree input[type="checkbox"] {
	display:none;
}
/* Kdam hover styles */
.kdam {
  border-top-right-radius: 10em;
  border-bottom-right-radius: 10em;
  background: #f0f0f0;
  opacity: 0.7;
  max-width:600px;
  max-height:30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display:none;
}
li:hover > .kdam {
	display:inline-block;
}
.tsamud {
	background: #ccc !important;
}